.chatbox {
    display: block;
    padding: 12px;
    border-radius: 4px;
    margin: auto 0px 0px;
    position: absolute;
    right: 0;
    width: 385px;
    height: 726px;
    background-color: grey;
    border: 3px solid rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    border-radius: 20px;
    word-wrap: break-word;
    margin: 15px;
  }
  
  .button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 78px;
    height: 35px;
    color: lavender;
    border-radius: 20px;
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt;
    color: black;
    margin: 15px;
  }
  
  .input {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 255px;
    height: 32px;
    border-radius: 20px;
    margin: 15px;
    font-size: 12pt;
    font-family: "Courier New", Courier, monospace;
    padding-left: 5px;
  }
  
  .message {
    color: whitesmoke;
    font-size: 12pt;
    font-family: "Courier New", Courier, monospace;
  }
  